<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TOAWEditSave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TOAWEditSave.Properties.Settings>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="RPCity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RPTown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RPVill" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RPBM1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RPBM2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RPBM3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RPBM4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RPBM5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RPBM6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RPBM7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RPBM8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RPBM9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F1InitRP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F2InitRP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="City" serializeAs="String">
                <value>City</value>
            </setting>
            <setting name="Town" serializeAs="String">
                <value>Town</value>
            </setting>
            <setting name="Village" serializeAs="String">
                <value>Village</value>
            </setting>
            <setting name="BM1" serializeAs="String">
                <value>Bitmap 1</value>
            </setting>
            <setting name="BM2" serializeAs="String">
                <value>Bitmap 2</value>
            </setting>
            <setting name="BM3" serializeAs="String">
                <value>Bitmap 3</value>
            </setting>
            <setting name="BM4" serializeAs="String">
                <value>Bitmap 4</value>
            </setting>
            <setting name="BM5" serializeAs="String">
                <value>Bitmap 5</value>
            </setting>
            <setting name="BM6" serializeAs="String">
                <value>Bitmap 6</value>
            </setting>
            <setting name="BM7" serializeAs="String">
                <value>Bitmap 7</value>
            </setting>
            <setting name="BM8" serializeAs="String">
                <value>Bitmap 8</value>
            </setting>
            <setting name="BM9" serializeAs="String">
                <value>Bitmap 9</value>
            </setting>
        </TOAWEditSave.Properties.Settings>
    </userSettings>
</configuration>